*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    display: 100%;
    height: 100vh;
    display: flex;
}
.content{
    width: 60%;
    padding: 10% 5%;
}
.loginForm {
    padding-top: 4%;
}
  
.loginForm input {
    border-radius: 7px;
    padding: 6px 12px;
    margin: 7px 8px;
    border: 1px solid rgb(141, 139, 139);
}
#loginButton {
    color: white;
    border: none;
    width: 50%;
    border-radius: 7px;
    background-color: rgb(236, 96, 45);
    margin: 10% 0 0 15%;
    padding: 2% 7%;
}

.loginImage {
    width: 40%;
}
.loginImage img {
    width: 100%;
    height: 100vh;
}

@media (max-width: 700px){
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #loginButton {
        width: 70%;
        margin: 10% 0 0 15%;
        border-radius: 10px;
      }
      .loginImage {
        width: 0%;
      }
      .loginImage img {
        width: 0%;
        height: 0vh;
      }
}