* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  background-color: #eee;
}
nav {
  background-color: white;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2%;
  box-shadow: 2px 2px 8px 8px #555;
}

nav input {
  width: 40%;
  padding: 1%;
}
nav button {
  margin-left: 5px;
  padding: 1% 2%;
  color: white;
  border: none;
  background-color: rgb(236, 96, 45);
}
.item {
  background-color: #eee;
  margin-top: 10%;
  text-align: center;
}
.singleItem {
  margin: 1% 0.5% 1%;
  cursor: pointer;
  width: 32%;
  float: left;
  border: 1px solid #eee;
}
.singleItem:hover{
    border: 1px solid rgb(156, 155, 155);
}
.singleItem img {
  margin-top: 8px;
  cursor: pointer;
  width: 85%;
  height: 200px;
}
.singleItem h6{
  color: rgb(236, 96, 45);
  margin-top: 10px;
}
#neighborhood{
    display: flex;
    justify-content: space-around;
}
.singleItem div{
    color: gray;
}
.singleItem hr{
    width: 85%;
    margin-left: 7%;
}
#cuisine{
  display: flex;
  justify-content: space-evenly;
}
.singleItem .view{
    margin-bottom: 2%;
    padding: 1% 2%;
    color: white;
    border: none;
    background-color: rgb(219, 104, 63);
}
.noProduct{
  margin-top: 10%;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  height: 70vh;
}
.noProduct img{
  height: 80px;
  width: 80px;
  padding-left: 10px;
}
@media (max-width: 700px){
  nav input{
    width: 60%;
  }
  .singleItem{
    width: 45%;
    height: 60%;
  }

}
